@import "../../../styles/utils.scss";

.inviteBoard {
    width: clamp(250px, 90%, 600px);
    button {
        padding: 10px; color: #fff; border-radius: 100vw;
        background-color:$redCol; margin-top: 10px;
        p, span {
            display: inline-block; vertical-align: middle;
        }
    }
    .inviteItem {
        align-self: flex-start; padding: 15px 30px; cursor: pointer;
        h1 {
            font-weight: normal;
        }
    }
}
.inviteBoard .inviteList {
    display: flex; flex-flow: row; gap: 20px; flex-wrap: wrap;
    justify-content: center; padding-top: 10px;
}