$redCol:#EF2853;

// dark theme
$darkGrey:#565759;
$gothCol:#0e0e0e;
$blackCol:#171717;


$greyCol:#aaacb0;

// white theme
$whiteCol:#eff1f3;
$coolCol:#ffffff; // pure
$w_layer3:#c0c1c4;

$activityCol:#3498DB;
$confirmCol:#2ECC71;
$pendingCol:#F1C40F;
$badCol:#E74C3C;

$assetPath:"/assets/";